.menu {
  position: fixed;
  width: 100%;
  height: 100%;

  margin-top: 61px;
  transform: translateX(-130%);
  transition: all 1s;
  display: none;
}

.menu.active {
  transform: translateX(0);
  transition: all 1s;
}

.blur {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  position: absolute;
}

.menu_content {
  width: 20%;
  height: 100%;
  background-color: #870a30;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid white;
}

.menu_content a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.menu_header {
  padding: 10px;
  font-size: 45px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  width: 100%;
  text-align: center;
}

ul li a {
  color: white;
  font-size: 1.3 rem;
}

ul li {
  display: flex;
  align-items: center;
}

ul {
  text-align: center;
  display: flex;
  flex-direction: column;
}

a {
  border-bottom: 1px solid white;
  width: 100%;
  padding: 15px;
}

@media screen and (max-width: 768px) {
  .menu_content {
    width: 100%;
  }

  .blur {
    backdrop-filter: none;
  }
}
