.Main_posts {
  flex-basis: 30;
  margin-top: 58px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  width: 570px;
}
.Main_post {
  height: 367px;
  width: 570px;
  margin-bottom: 59px;
}
.Main_post_header {
  border-radius: 20px 20px 0 0;
  background-color: #870a30;
  height: 85px;
  color: #fff;
  display: flex;
}
.Main_post_content {
  background-color: #d9d9d9;
  border-radius: 0 0 20px 20px;
  height: 282px;
}
.Main_post_header img {
  border-radius: 0 0 20px 0;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  margin-left: 13px;
  margin-top: 9px;
}
.Main_post_un_loc {
  margin-left: 16px;
}
.Main_post_username {
  margin-top: 13px;
  font-size: 12px;
}
.Main_post_location {
  margin-top: 8px;
  font-size: 10px;
  width: 120px;
}
.Main_post_time {
  margin-left: 290px;
  margin-top: 16px;
  font-size: 8px;
  text-decoration: underline;
}
.Main_post_content {
  display: flex;
}
.Main_post_content_img {
  border-radius: 0 0 0 20px;
  height: 282px;
  width: 411px;
}
.Main_post_content_img_extended {
  width: 800px;
  border-radius: 0 0 0 0px;
}
.mod_win_close {
  position: absolute;
  cursor: pointer;
  left: 750px;
  top: 10px;
}
.Main_post_content_text {
  margin-top: 9px;
  margin-left: 20px;
  margin-right: 10px;
}
.Main_post_content_text_title {
  font-size: 15px;
  margin-bottom: 8px;
}
.Main_post_content_text_txt {
  font-size: 10px;
}
.Main_post_content_text_bcc {
  margin-top: 9px;
}
.Main_post_content_text_bcc_title {
  font-size: 15px;
  margin-left: 41px;
  margin-bottom: 17px;
}
.Main_post_content_text_bcc_txt {
  margin-left: 20px;
  margin-right: 10px;
  font-size: 10px;
}
.Main_post_content_text_bcc hr {
  border: none;
  height: 0.5px;
  margin-top: 16px;
  margin-left: 37px;
  margin-right: 37px;
  background-color: black;
}
.leave_comment_ta {
  margin-top: 11px;
  margin-left: 8px;
  border: none;
  width: 225px;
  height: 21px;
  border-radius: 15px;
  font-size: 10px;
  padding-left: 9px;
  color: rgba(0, 0, 0, 0.5);
}
.Main_post_content_comments {
  background-color: #fff;
  margin-top: 9px;
  margin-left: 13px;
  width: 214px;
  height: 97px;
  border-radius: 10px;
}
.Main_post_content_comment {
  display: flex;
}
.Main_post_content_comment_ava {
  margin-left: 4px;
  margin-top: 11px;
}
.Main_post_content_comment_texts {
  margin-top: 11px;
  margin-left: 5px;
}
.Main_post_content_comment_username {
  font-size: 10px;
}
.Main_post_content_comment_text {
  font-size: 8px;
}
.Main_post_content_comment_time {
  font-size: 6px;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 146px;
  text-decoration: underline;
}
.Main_post_wom_img {
  height: 283px;
  width: 570px;
  border-radius: 0 0 20px 20px;
}
