.header {
  background-color: #870a30;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #d9d9d9;
  padding-top: 19px;
  position: fixed;
  z-index: 50;
}

.logo_img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.Toggle {
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: absolute;
  margin-left: -90%;
  margin-top: -8px;
}

.burger {
  position: fixed;
  width: 100%;
  height: 100%;
  margin-top: 61px;
  transition: all 0.2s;
  background: transparent;
  pointer-events: inherit;
  justify-content: center;
}
